*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-color: rgb(233, 233, 233);
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: aquamarine;
}

header .filters{
    display: flex;
    gap: 10px;
}

.filters > div {
    display: flex;
    gap: 20px;
}

header label ~ .btnCart{
    transform: translateX(-180px)
}

.cart-content{
    width: 400px;
    height: 153%;
    padding: 10px;
    background-color: brown;
    z-index: 1000;
    position: absolute;
   transform: translateX(500%);
    transition: .5s ease;
}

.cart-content-active{
    transform: translateX(242%);
}